* {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: #FECCFF;
    color: #FF0198;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 30px;
    margin: 8px;
}

div {
    background-color: #FFFFCC;
    margin: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
}

p {
    font-style: italic;
    font-size: 18px;
}

hr {
    align-self: center;
    border-radius: 1px;
    margin: 12px auto;
}